[submodule "CS310-Mobile-Computing/bank-microservice-rest-api"]
	path = CS310-Mobile-Computing/bank-microservice-rest-api
	url = https://github.com/Benediximuss/bank-microservice-rest-api
[submodule "CS310-Mobile-Computing/NewsApp"]
	path = CS310-Mobile-Computing/NewsApp
	url = https://github.com/Benediximuss/NewsApp
[submodule "CS204-Advanced-Programming/Homework 1 - MineSweeper/Minesweeper"]
	path = CS204-Advanced-Programming/Homework 1 - MineSweeper/Minesweeper
	url = https://github.com/Benediximuss/Minesweeper
[submodule "CS204-Advanced-Programming/Homework 6 - Bitwise Calculator with GUI/Bitwise-Calculator-MFC"]
	path = CS204-Advanced-Programming/Homework 6 - Bitwise Calculator with GUI/Bitwise-Calculator-MFC
	url = https://github.com/Benediximuss/Bitwise-Calculator-MFC
[submodule "CS408-Computer-Networks/TicTacToeClient"]
	path = CS408-Computer-Networks/TicTacToeClient
	url = https://github.com/Benediximuss/TicTacToeClient
[submodule "CS408-Computer-Networks/TicTacToeServer"]
	path = CS408-Computer-Networks/TicTacToeServer
	url = https://github.com/mericmert/TicTacToeServer
#